
# Python
__pycache__/
blind_inverse/
rebuttal_runtime_results/

toy_experiments/numerical_validation/job_scripts/
toy_experiments/numerical_validation/results/

toy_experiments/statistical_validation/datasets/
toy_experiments/statistical_validation/job_scripts/
toy_experiments/statistical_validation/results/
toy_experiments/statistical_validation/test_imgs/

mri_reconstruction/baselines/
mri_reconstruction/data/
mri_reconstruction/guided-diffusion/
mri_reconstruction/InverseBench/
mri_reconstruction/paper/

mri_reconstruction/PnP-MonteCarlo/results
mri_reconstruction/PnP-MonteCarlo/job_outputs
mri_reconstruction/PnP-MonteCarlo/job_scripts
mri_reconstruction/PnP-MonteCarlo/run_optuna.py
mri_reconstruction/PnP-MonteCarlo/pmc/algorithms/pmcred_flow.py

ct_reconstruction/

# SLURM and logs
slurm-*.out
*.log
*.npy
*.sh
*.pt
*.pth
*.mat
*.npz
*.ckpt
*.yml